<%= form_for(user, class: "user", # params with :user for secure_params
                   url: login_path, # give url when path and model differ
                   local: true, id: "login-form") do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
